body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.fretboard {
    margin-top: 10px;
}
.neck {
    margin-top: 10px;
    width: 720px;
}
.string {
    font-size: 16px;
}
.string li {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #ccc;
    
}
.string {
	margin: 0;
  padding: 0;
  border-top: 1px solid gray;
}
.string .scale-note {
    background-color: #9bc;
}
.string .fret {
    cursor: pointer;
}
.string .fret:hover {
    background-color: white;
    color: black;
}
.string .fret:first-of-type {
    border-right: 3px solid gray;
}
.string .root {
    background-color: #bc9
}

.frets {
    background-color: #aaa;
    color: white;
}
.frets li {
    background-color: transparent;
    padding: 3px;
}
