body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.string {
    /*font-family: "Courier New", monospace;*/
    font-size: 16px;
}
.string li {
    display: inline-block;
    text-align: center;
    width: 25px;
    background-color: #ccc;
    margin: 3px;
    padding: 3px 0;
}
.frets {
    background-color: #aaa;
    color: white;
}
.frets li {
    background-color: transparent;
}
.string .scale-note {
    background-color: #9bc;
}
.string .fret {
    cursor: pointer;
}
.string .fret:hover {
    background-color: white;
    color: black;
}
.string .root {
    background-color: #bc9
}
